<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <title>Nemesis Coffee Charts - Bar</title>
  <script type="text/javascript">
    function myFunction(data1) {
      var d = new Date();
      var n = d.getFullYear();
      console.log(n);

      let foh1 = 0;
      let boh1 = 0;

      let foh2 = 0;
      let boh2 = 0;

      let foh3 = 0;
      let boh3 = 0;

      let foh4 = 0;
      let boh4 = 0;

      let foh5 = 0;
      let boh5 = 0;

      let foh6 = 0;
      let boh6 = 0;

      let foh7 = 0;
      let boh7 = 0;

      let foh8 = 0;
      let boh8 = 0;

      let foh9 = 0;
      let boh9 = 0;

      let foh10 = 0;
      let boh10 = 0;

      let foh11 = 0;
      let boh11 = 0;

      let foh12 = 0;
      let boh12 = 0;

      for (let i = 0; i < data1["category"].length; i++) {

        if (data1["division"][i] != null) {
          if (data1["division"][i].localeCompare("FOH") == 0) {
            if (data1["month"][i] == 1 && data1["year"][i] == n) {
              foh1 = foh1 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 2 && data1["year"][i] == n) {
              foh2 = foh2 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 3 && data1["year"][i] == n) {
              foh3 = foh3 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 4 && data1["year"][i] == n) {
              foh4 = foh4 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 5 && data1["year"][i] == n) {
              foh5 = foh5 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 6 && data1["year"][i] == n) {
              foh6 = foh6 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 7 && data1["year"][i] == n) {
              foh7 = foh7 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 8 && data1["year"][i] == n) {
              foh8 = foh8 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 9 && data1["year"][i] == n) {
              foh9 = foh9 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 10 && data1["year"][i] == n) {
              foh10 = foh10 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 11 && data1["year"][i] == n) {
              foh11 = foh11 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 12 && data1["year"][i] == n) {
              foh12 = foh12 + parseInt(data1["net"][i]);
            }

          } else if (data1["division"][i].localeCompare("BOH") == 0) {
            if (data1["month"][i] == 1 && data1["year"][i] == n) {
              boh1 = boh1 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 2 && data1["year"][i] == n) {
              boh2 = boh2 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 3 && data1["year"][i] == n) {
              boh3 = boh3 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 4 && data1["year"][i] == n) {
              boh4 = boh4 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 5 && data1["year"][i] == n) {
              boh5 = boh5 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 6 && data1["year"][i] == n) {
              boh6 = boh6 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 7 && data1["year"][i] == n) {
              boh7 = boh7 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 8 && data1["year"][i] == n) {
              boh8 = boh8 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 9 && data1["year"][i] == n) {
              boh9 = boh9 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 10 && data1["year"][i] == n) {
              boh10 = boh10 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 11 && data1["year"][i] == n) {
              boh11 = boh11 + parseInt(data1["net"][i]);
            } else if (data1["month"][i] == 12 && data1["year"][i] == n) {
              boh12 = boh12 + parseInt(data1["net"][i]);
            }

          }
        }
      }


      google.charts.load('current', {
        packages: ['corechart', 'bar']
      });
      google.charts.setOnLoadCallback(drawAxisTickColors);

      function drawAxisTickColors() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Month');
        data.addColumn('number', 'FOH');
        data.addColumn('number', 'BOH');

        data.addRows([
          ["Jan.", foh1, boh1],
          ["Feb.", foh2, boh2],
          ["Mar.", foh3, boh3],
          ["Apr.", foh4, boh4],
          ["May.", foh5, boh5],
          ["Jun.", foh6, boh6],
          ["Jul.", foh7, boh7],
          ["Aug.", foh8, boh8],
          ["Sept.", foh9, boh9],
          ["Oct.", foh10, boh10],
          ["Nov.", foh11, boh11],
          ["Dec.", foh12, boh12],
        ]);

        var options = {
          title: 'Net Sales Summary of current year (' + n + ")",
          focusTarget: 'category',
          hAxis: {
            title: 'Month',
            format: 'string',
            viewWindow: {
              min: [17, 90, 0],
              max: [17, 90, 0]
            },
            textStyle: {
              fontSize: 14,
              color: '#053061',
              bold: true,
              italic: false
            },
            titleTextStyle: {
              fontSize: 18,
              color: '#053061',
              bold: true,
              italic: false
            }
          },
          vAxis: {
            title: 'Sales',
            textStyle: {
              fontSize: 18,
              color: '#67001f',
              bold: false,
              italic: false
            },
            titleTextStyle: {
              fontSize: 18,
              color: '#67001f',
              bold: true,
              italic: false
            }
          }
        };

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }





    }

    $.ajax({ //create an ajax request
      type: "GET",
      url: "/readSalesData",
      dataType: "json", //expect html to be returned                
      success: function (data) {

        data1 = data;
        console.log(data1);
        myFunction(data1);
      },
      error: function (request, status, error) {
        alert(request.responseText);
        console.log(error);
      }

    });
  </script>
</head>

<body style="text-align: center;">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div>
    <h1>
      Sales Summary
    </h1>
  </div>
  <div id="chart_div" style="width: 1000px; height: 500px;"></div>
  <label for="year">Choose a year:</label>
  <input type="number" id="year" placeholder="Type year here!">
  <div id="shopOption">
    <label for="shopSelection">Choose a store:</label>
    <select name="shopSelection" id="shopSelection">

      <option value="polygon">Polygon</option>
      <option value="gastown">Gastown</option>
      <option value="store3">3</option>
      <option value="store4">4</option>
      <option value="store5">5</option>

    </select>

  </div>
  <div id="typeOption">
    <label for="typeSelection">Choose net or gross:</label>
    <select name="typeSelection" id="typeSelection">

      <option value="netReport">Net</option>
      <option value="grossReport">Gross</option>


    </select>

  </div>
  <button onclick="mySubmitFunction()">Submit</button>
  <script>
    function mySubmitFunction() {

      let shopSelection = document.getElementById("shopSelection").options[document.getElementById("shopSelection")
          .selectedIndex]
        .text;
      console.log(shopSelection);
      let yearRange = document.getElementById("year").value;
      console.log(yearRange);

      let typeofReport = document.getElementById("typeSelection").options[document.getElementById("typeSelection")
        .selectedIndex].text;
      console.log(typeofReport);

      if (shopSelection.localeCompare("Polygon") == 0 && typeofReport.localeCompare("Net") == 0) {
        let foh1 = 0;
        let boh1 = 0;

        let foh2 = 0;
        let boh2 = 0;

        let foh3 = 0;
        let boh3 = 0;

        let foh4 = 0;
        let boh4 = 0;

        let foh5 = 0;
        let boh5 = 0;

        let foh6 = 0;
        let boh6 = 0;

        let foh7 = 0;
        let boh7 = 0;

        let foh8 = 0;
        let boh8 = 0;

        let foh9 = 0;
        let boh9 = 0;

        let foh10 = 0;
        let boh10 = 0;

        let foh11 = 0;
        let boh11 = 0;

        let foh12 = 0;
        let boh12 = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null && data1["store"][i].localeCompare("Polygon") == 0) {
            if (data1["division"][i].localeCompare("FOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                foh1 = foh1 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                foh2 = foh2 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                foh3 = foh3 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                foh4 = foh4 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                foh5 = foh5 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                foh6 = foh6 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                foh7 = foh7 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                foh8 = foh8 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                foh9 = foh9 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                foh10 = foh10 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                foh11 = foh11 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                foh12 = foh12 + parseInt(data1["net"][i]);
              }

            } else if (data1["division"][i].localeCompare("BOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                boh1 = boh1 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                boh2 = boh2 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                boh3 = boh3 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                boh4 = boh4 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                boh5 = boh5 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                boh6 = boh6 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                boh7 = boh7 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                boh8 = boh8 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                boh9 = boh9 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                boh10 = boh10 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                boh11 = boh11 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                boh12 = boh12 + parseInt(data1["net"][i]);
              }

            }
          }
        }


        google.charts.load('current', {
          packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          data.addColumn('number', 'FOH');
          data.addColumn('number', 'BOH');

          data.addRows([
            ["Jan.", foh1, boh1],
            ["Feb.", foh2, boh2],
            ["Mar.", foh3, boh3],
            ["Apr.", foh4, boh4],
            ["May.", foh5, boh5],
            ["Jun.", foh6, boh6],
            ["Jul.", foh7, boh7],
            ["Aug.", foh8, boh8],
            ["Sept.", foh9, boh9],
            ["Oct.", foh10, boh10],
            ["Nov.", foh11, boh11],
            ["Dec.", foh12, boh12],
          ]);

          var options = {
            title: 'Net Sales Summary of Polygon of year' + yearRange,
            focusTarget: 'category',
            hAxis: {
              title: 'Month',
              format: 'string',
              viewWindow: {
                min: [17, 90, 0],
                max: [17, 90, 0]
              },
              textStyle: {
                fontSize: 14,
                color: '#053061',
                bold: true,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#053061',
                bold: true,
                italic: false
              }
            },
            vAxis: {
              title: 'Sales',
              textStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: false,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: true,
                italic: false
              }
            }
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }

      } else if (shopSelection.localeCompare("Gastown") == 0 && typeofReport.localeCompare("Net") == 0) {
        let foh1 = 0;
        let boh1 = 0;

        let foh2 = 0;
        let boh2 = 0;

        let foh3 = 0;
        let boh3 = 0;

        let foh4 = 0;
        let boh4 = 0;

        let foh5 = 0;
        let boh5 = 0;

        let foh6 = 0;
        let boh6 = 0;

        let foh7 = 0;
        let boh7 = 0;

        let foh8 = 0;
        let boh8 = 0;

        let foh9 = 0;
        let boh9 = 0;

        let foh10 = 0;
        let boh10 = 0;

        let foh11 = 0;
        let boh11 = 0;

        let foh12 = 0;
        let boh12 = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null && data1["store"][i].localeCompare("Gastown") == 0) {
            if (data1["division"][i].localeCompare("FOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                foh1 = foh1 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                foh2 = foh2 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                foh3 = foh3 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                foh4 = foh4 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                foh5 = foh5 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                foh6 = foh6 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                foh7 = foh7 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                foh8 = foh8 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                foh9 = foh9 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                foh10 = foh10 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                foh11 = foh11 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                foh12 = foh12 + parseInt(data1["net"][i]);
              }

            } else if (data1["division"][i].localeCompare("BOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                boh1 = boh1 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                boh2 = boh2 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                boh3 = boh3 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                boh4 = boh4 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                boh5 = boh5 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                boh6 = boh6 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                boh7 = boh7 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                boh8 = boh8 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                boh9 = boh9 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                boh10 = boh10 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                boh11 = boh11 + parseInt(data1["net"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                boh12 = boh12 + parseInt(data1["net"][i]);
              }

            }
          }
        }


        google.charts.load('current', {
          packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          data.addColumn('number', 'FOH');
          data.addColumn('number', 'BOH');

          data.addRows([
            ["Jan.", foh1, boh1],
            ["Feb.", foh2, boh2],
            ["Mar.", foh3, boh3],
            ["Apr.", foh4, boh4],
            ["May.", foh5, boh5],
            ["Jun.", foh6, boh6],
            ["Jul.", foh7, boh7],
            ["Aug.", foh8, boh8],
            ["Sept.", foh9, boh9],
            ["Oct.", foh10, boh10],
            ["Nov.", foh11, boh11],
            ["Dec.", foh12, boh12],
          ]);

          var options = {
            title: 'Net Sales Summary of Gastown of year' + yearRange,
            focusTarget: 'category',
            hAxis: {
              title: 'Month',
              format: 'string',
              viewWindow: {
                min: [17, 90, 0],
                max: [17, 90, 0]
              },
              textStyle: {
                fontSize: 14,
                color: '#053061',
                bold: true,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#053061',
                bold: true,
                italic: false
              }
            },
            vAxis: {
              title: 'Sales',
              textStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: false,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: true,
                italic: false
              }
            }
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }

      }


      //Gross Sales of Polygon
      else if (shopSelection.localeCompare("Polygon") == 0 && typeofReport.localeCompare("Gross") == 0) {
        let foh1 = 0;
        let boh1 = 0;

        let foh2 = 0;
        let boh2 = 0;

        let foh3 = 0;
        let boh3 = 0;

        let foh4 = 0;
        let boh4 = 0;

        let foh5 = 0;
        let boh5 = 0;

        let foh6 = 0;
        let boh6 = 0;

        let foh7 = 0;
        let boh7 = 0;

        let foh8 = 0;
        let boh8 = 0;

        let foh9 = 0;
        let boh9 = 0;

        let foh10 = 0;
        let boh10 = 0;

        let foh11 = 0;
        let boh11 = 0;

        let foh12 = 0;
        let boh12 = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null && data1["store"][i].localeCompare("Polygon") == 0) {
            if (data1["division"][i].localeCompare("FOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                foh1 = foh1 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                foh2 = foh2 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                foh3 = foh3 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                foh4 = foh4 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                foh5 = foh5 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                foh6 = foh6 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                foh7 = foh7 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                foh8 = foh8 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                foh9 = foh9 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                foh10 = foh10 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                foh11 = foh11 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                foh12 = foh12 + parseInt(data1["gross"][i]);
              }

            } else if (data1["division"][i].localeCompare("BOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                boh1 = boh1 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                boh2 = boh2 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                boh3 = boh3 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                boh4 = boh4 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                boh5 = boh5 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                boh6 = boh6 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                boh7 = boh7 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                boh8 = boh8 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                boh9 = boh9 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                boh10 = boh10 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                boh11 = boh11 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                boh12 = boh12 + parseInt(data1["gross"][i]);
              }

            }
          }
        }


        google.charts.load('current', {
          packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          data.addColumn('number', 'FOH');
          data.addColumn('number', 'BOH');

          data.addRows([
            ["Jan.", foh1, boh1],
            ["Feb.", foh2, boh2],
            ["Mar.", foh3, boh3],
            ["Apr.", foh4, boh4],
            ["May.", foh5, boh5],
            ["Jun.", foh6, boh6],
            ["Jul.", foh7, boh7],
            ["Aug.", foh8, boh8],
            ["Sept.", foh9, boh9],
            ["Oct.", foh10, boh10],
            ["Nov.", foh11, boh11],
            ["Dec.", foh12, boh12],
          ]);

          var options = {
            title: 'Gross Sales Summary of Polygon of year' + yearRange,
            focusTarget: 'category',
            hAxis: {
              title: 'Month',
              format: 'string',
              viewWindow: {
                min: [17, 90, 0],
                max: [17, 90, 0]
              },
              textStyle: {
                fontSize: 14,
                color: '#053061',
                bold: true,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#053061',
                bold: true,
                italic: false
              }
            },
            vAxis: {
              title: 'Sales',
              textStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: false,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: true,
                italic: false
              }
            }
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }

      }

      //Gross Sales of Gastown
      else if (shopSelection.localeCompare("Gastown") == 0 && typeofReport.localeCompare("Gross") == 0) {
        let foh1 = 0;
        let boh1 = 0;

        let foh2 = 0;
        let boh2 = 0;

        let foh3 = 0;
        let boh3 = 0;

        let foh4 = 0;
        let boh4 = 0;

        let foh5 = 0;
        let boh5 = 0;

        let foh6 = 0;
        let boh6 = 0;

        let foh7 = 0;
        let boh7 = 0;

        let foh8 = 0;
        let boh8 = 0;

        let foh9 = 0;
        let boh9 = 0;

        let foh10 = 0;
        let boh10 = 0;

        let foh11 = 0;
        let boh11 = 0;

        let foh12 = 0;
        let boh12 = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null && data1["store"][i].localeCompare("Gastown") == 0) {
            if (data1["division"][i].localeCompare("FOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                foh1 = foh1 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                foh2 = foh2 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                foh3 = foh3 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                foh4 = foh4 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                foh5 = foh5 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                foh6 = foh6 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                foh7 = foh7 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                foh8 = foh8 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                foh9 = foh9 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                foh10 = foh10 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                foh11 = foh11 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                foh12 = foh12 + parseInt(data1["gross"][i]);
              }

            } else if (data1["division"][i].localeCompare("BOH") == 0) {
              if (data1["month"][i] == 1 && data1["year"][i] == yearRange) {
                boh1 = boh1 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 2 && data1["year"][i] == yearRange) {
                boh2 = boh2 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 3 && data1["year"][i] == yearRange) {
                boh3 = boh3 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 4 && data1["year"][i] == yearRange) {
                boh4 = boh4 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 5 && data1["year"][i] == yearRange) {
                boh5 = boh5 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 6 && data1["year"][i] == yearRange) {
                boh6 = boh6 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 7 && data1["year"][i] == yearRange) {
                boh7 = boh7 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 8 && data1["year"][i] == yearRange) {
                boh8 = boh8 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 9 && data1["year"][i] == yearRange) {
                boh9 = boh9 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 10 && data1["year"][i] == yearRange) {
                boh10 = boh10 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 11 && data1["year"][i] == yearRange) {
                boh11 = boh11 + parseInt(data1["gross"][i]);
              } else if (data1["month"][i] == 12 && data1["year"][i] == yearRange) {
                boh12 = boh12 + parseInt(data1["gross"][i]);
              }

            }
          }
        }


        google.charts.load('current', {
          packages: ['corechart', 'bar']
        });
        google.charts.setOnLoadCallback(drawAxisTickColors);

        function drawAxisTickColors() {
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'Month');
          data.addColumn('number', 'FOH');
          data.addColumn('number', 'BOH');

          data.addRows([
            ["Jan.", foh1, boh1],
            ["Feb.", foh2, boh2],
            ["Mar.", foh3, boh3],
            ["Apr.", foh4, boh4],
            ["May.", foh5, boh5],
            ["Jun.", foh6, boh6],
            ["Jul.", foh7, boh7],
            ["Aug.", foh8, boh8],
            ["Sept.", foh9, boh9],
            ["Oct.", foh10, boh10],
            ["Nov.", foh11, boh11],
            ["Dec.", foh12, boh12],
          ]);

          var options = {
            title: 'Gross Sales Summary of Gastown of year' + yearRange,
            focusTarget: 'category',
            hAxis: {
              title: 'Month',
              format: 'string',
              viewWindow: {
                min: [17, 90, 0],
                max: [17, 90, 0]
              },
              textStyle: {
                fontSize: 14,
                color: '#053061',
                bold: true,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#053061',
                bold: true,
                italic: false
              }
            },
            vAxis: {
              title: 'Sales',
              textStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: false,
                italic: false
              },
              titleTextStyle: {
                fontSize: 18,
                color: '#67001f',
                bold: true,
                italic: false
              }
            }
          };

          var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }

      }
    }
  </script>
</body>

</html>