<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Nemesis Coffee Charts - Pie</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #piechart {
      display: block;
      margin: 0 auto;
    }
  </style>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body style="text-align: center;">
  <script type="text/javascript">
    // let data1;
    let data2;
    $(document).ready(function () {

      function myFunction(data2) {

        google.charts.load('current', {
          'packages': ['corechart']
        });

        google.charts.setOnLoadCallback(drawChartMonthNet);

        function drawChartMonthNet() {

          let foh = 0;
          let boh = 0;
          // console.log("data1     " + data2.result2[0]["dept"]);
          // console.log("data1     " + data2.result2[0]["net"]);
          console.log(data2.result2.length);
          // var d = new Date();
          var today = new Date();
          let shopName = "Polygon FOH";
          // var monthRange = String(today.getDate()).padStart(2, '0');
          var monthRange = String(today.getMonth() + 1).padStart(2, ''); //January is 0!
          var yearRange = today.getFullYear();
          console.log(monthRange);
          console.log(yearRange);
          console.log(shopName);
          // alert("datamonth"+data1["month"][0]);
          // alert("datamonth"+monthRange);
          console.log(shopName.includes(data2.result2[23]["shop"]) == true);
          console.log(data2.result2[23]["dept"].localeCompare(
            "FOH") == 0);
          console.log(data2.result2[23]["year"].localeCompare(yearRange
            .toString()) == 0);
          console.log(data2.result2[23]["month"].localeCompare(monthRange.toString()) == 0);

          for (let i = 0; i < data2.result2.length; i++) {

            if (data2.result2[i]["dept"] != null) {
              if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"].localeCompare(
                  "FOH") == 0 &&
                data2.result2[i]["year"].localeCompare(yearRange
                  .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {

                foh = foh + parseInt(data2.result2[i]["net"]);
                console.log("it gets here!");
              } else if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"]
                .localeCompare(
                  "BOH") == 0 && data2.result2[i]["year"].localeCompare(yearRange
                  .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {
                boh = boh + parseInt(data2.result2[i]["net"]);
                console.log("it gets here!!!!");
              }
            }

          }

          let laborCost = 0;
          for (let j = 0; j < data2.result1.length; j++) {
            if (data2.result1[j]["dept"].localeCompare(shopName) == 0) {
              laborCost = data2.result1[j]["total"];

            }
          }
          console.log("dataaaaa   " + foh);
          console.log("dataaaaa   " + boh);
          let totalSales = 0;
          if (shopName.includes("FOH")) {
            totalSales = foh;

          } else {
            totalSales = boh;
          }

          console.log("total Sales" + totalSales);
          if (totalSales == 0) {
            alert("Total Sales is zero!");
          }

          if (laborCost == 0) {
            alert("Labor cost is zero!");
          }



          var data123 = google.visualization.arrayToDataTable([
            ['Division', 'Sales'],
            ['Labor/Sales', laborCost],
            ['', totalSales - laborCost]
          ]);

          var options = {
            title: 'Labor Cost/Net Sales for current month in year' + ' ' + yearRange.toString() + " for " + shopName,
            colors: ['#e0440e', '#ffffff']
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart'));

          chart.draw(data123, options);
        }
      }


      $.ajax({ //create an ajax request
        type: "GET",
        url: "/readLaborAndSales",
        dataType: "json", //expect html to be returned                
        success: function (data) {
          data2 = data;
          console.log("Hello");
          console.log(data2);
          console.log(data2.result2);
          myFunction(data2);

        },
        error: function (request, status, error) {
          alert(request.responseText);
          console.log(error);
        }

      });



      // myFunction(data1, data2);

    });
  </script>

  <h1>Labor/Sales</h1>
  <div id="piechart" style="width: 70%; height: 500px;"></div>

  <div id="shopOption">
    <label for="shopSelection">Choose what you want to look at:</label>
    <select name="shopSelection" id="shopSelection">

      <option value="polygonf">Polygon FOH</option>
      <option value="gastownf">Gastown FOH</option>
      <option value="polygonb">Polygon BOH</option>
      <option value="gastownb">Gastown BOH</option>
      <option value="store5">5</option>

    </select>

  </div>
  <br>
  <label for="kindofRepo">Do you want to check yearly or monthly repo:</label>
  <select name="kindofRepo" id="kindofRepo" onchange="test()">

    <option value='yearly'>Yearly</option>
    <option value='monthly'>Monthly</option>


  </select>
  <div id="monthlyOption">
    <label for="month">Choose a month:</label>
    <select name="month" id="month">

      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div id="yearlyOption">

    <label for="year">Choose a year:</label>
    <input type="number" id="year" placeholder="Type year here!">
  </div>
  <br>
  <div id="grossNetOption">
    <label for="gorn">I want to check:</label>
    <select name="gorn" id="gorn">

      <option value="net">Net</option>
      <option value="gross">Gross</option>

    </select>
  </div>

  <br>


  <button onclick="mySubmitFunction()">Submit</button>
  <script>
    let kind3 = document.getElementById("kindofRepo");
    let kind4 = kind3.options[kind3.selectedIndex].text;
    if (kind4.localeCompare("Yearly") == 0) {

      document.getElementById("monthlyOption").style.visibility = "hidden";
    } else {
      document.getElementById("monthlyOption").style.visibility = "visible";
    }



    function test() {
      let kind = document.getElementById("kindofRepo");
      let kind2 = kind.options[kind.selectedIndex].text;

      if (kind2.localeCompare("Yearly") == 0) {
        document.getElementById("monthlyOption").style.visibility = "hidden";
      } else {
        document.getElementById("monthlyOption").style.visibility = "visible";
      }
    }

    function mySubmitFunction() {

      let timeRange = document.getElementById("kindofRepo").options[document.getElementById("kindofRepo").selectedIndex]
        .text;
      console.log(timeRange);
      let yearRange = document.getElementById("year").value;
      console.log(yearRange);
      let monthRange = document.getElementById("month").selectedIndex + 1;
      console.log(monthRange);
      let typeofReport = document.getElementById("gorn").options[document.getElementById("gorn").selectedIndex].text;
      console.log(typeofReport);

      let shopName = document.getElementById("shopSelection").options[document.getElementById("shopSelection")
        .selectedIndex].text;
      // alert(shopName);
      if (timeRange.localeCompare("Yearly") == 0) {
        if (typeofReport.localeCompare("Net") == 0) {

          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartYearNet);

          function drawChartYearNet() {

            let foh = 0;
            let boh = 0;
            console.log("data2     " + data2.result2[0]["dept"]);
            console.log("data2     " + data2.result2[0]["net"]);
            // console.log(data2["category"].length);
            for (let i = 0; i < data2.result2.length; i++) {

              if (data2.result2[i]["dept"] != null) {
                if (shopName.includes(data2.result2[i]["shop"]) == true &&
                  data2.result2[i]["dept"].localeCompare("FOH") == 0 &&
                  data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0) {

                  foh = foh + parseInt(data2.result2[i]["net"]);
                } else if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"]
                  .localeCompare(
                    "BOH") == 0 && data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0) {
                  boh = boh + parseInt(data2.result2[i]["net"]);
                }
              }

            }
            let laborCost = 0;
            for (let j = 0; j < data2.result1.length; j++) {
              if (data2.result1[j]["dept"].localeCompare(shopName) == 0) {
                laborCost = data2.result1[j]["total"];

              }
            }
            console.log("dataaaaa   " + foh);
            console.log("dataaaaa   " + boh);
            let totalSales = 0;
            if (shopName.includes("FOH")) {
              totalSales = foh;

            } else {
              totalSales = boh;
            }

            console.log("total Sales" + totalSales);
            if (totalSales == 0) {
              alert("Total Sales is zero!");
            }

            if (laborCost == 0) {
              alert("Labor cost is zero!");
            }

            var data123 = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Labor/Sales', laborCost],
              ['', totalSales - laborCost]
            ]);

            var options = {
              title: 'Labor Cost/Net Sales Yearly' + " " + yearRange.toString() + " for " + shopName,
              colors: ['#e0440e', '#ffffff']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data123, options);
          }



        } else if (typeofReport.localeCompare("Gross") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartYearGross);

          function drawChartYearGross() {

            let foh = 0;
            let boh = 0;
            console.log("data2       " + data2.result2[0]["dept"]);
            console.log("data2        " + data2.result2[0]["net"]);
            // console.log(data2["category"].length);
            for (let i = 0; i < data2.result2.length; i++) {

              if (data2.result2[i]["dept"] != null) {
                if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"].localeCompare(
                    "FOH") == 0 &&
                  data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0) {

                  foh = foh + parseInt(data2.result2[i]["gross"]);
                } else if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"]
                  .localeCompare(
                    "BOH") == 0 && data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0) {
                  boh = boh + parseInt(data2.result2[i]["gross"]);
                }
              }

            }

            let laborCost = 0;
            for (let j = 0; j < data2.result1.length; j++) {
              if (data2.result1[j]["dept"].localeCompare(shopName) == 0) {
                laborCost = data2.result1[j]["total"];

              }
            }
            console.log("dataaaaa   " + foh);
            console.log("dataaaaa   " + boh);
            let totalSales = 0;
            if (shopName.includes("FOH")) {
              totalSales = foh;

            } else {
              totalSales = boh;
            }

            console.log("total Sales" + totalSales);
            if (totalSales == 0) {
              alert("Total Sales is zero!");
            }

            if (laborCost == 0) {
              alert("Labor cost is zero!");
            }

            var data123 = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Labor/Sales', laborCost],
              ['', totalSales - laborCost]
            ]);

            var options = {
              title: 'Labor Cost/Gross Sales Yearly' + " " + yearRange.toString() + " for " + shopName,
              colors: ['#e0440e', '#ffffff']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data123, options);
          }




        }

      } else if (timeRange.localeCompare("Monthly") == 0) {
        if (typeofReport.localeCompare("Net") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartMonthNet);

          function drawChartMonthNet() {

            let foh = 0;
            let boh = 0;
            console.log("data1     " + data2.result2[0]["dept"]);
            console.log("data1     " + data2.result2[0]["net"]);
            console.log(data2.result2.length);

            // alert("datamonth"+data1["month"][0]);
            // alert("datamonth"+monthRange);
            for (let i = 0; i < data2.result2.length; i++) {

              if (data2.result2[i]["dept"] != null) {
                if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"].localeCompare(
                    "FOH") == 0 &&
                  data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {

                  foh = foh + parseInt(data2.result2[i]["net"]);
                } else if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"]
                  .localeCompare(
                    "BOH") == 0 && data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {
                  boh = boh + parseInt(data2.result2[i]["net"]);
                }
              }

            }

            let laborCost = 0;
            for (let j = 0; j < data2.result1.length; j++) {
              if (data2.result1[j]["dept"].localeCompare(shopName) == 0) {
                laborCost = data2.result1[j]["total"];

              }
            }
            console.log("dataaaaa   " + foh);
            console.log("dataaaaa   " + boh);
            let totalSales = 0;
            if (shopName.includes("FOH")) {
              totalSales = foh;

            } else {
              totalSales = boh;
            }

            console.log("total Sales" + totalSales);
            if (totalSales == 0) {
              alert("Total Sales is zero!");
            }

            if (laborCost == 0) {
              alert("Labor cost is zero!");
            }

            var data123 = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Labor/Sales', laborCost],
              ['', totalSales - laborCost]
            ]);

            var options = {
              title: 'Labor Cost/Net Sales for month ' + monthRange + " " + yearRange.toString() + " for " + shopName,
              colors: ['#e0440e', '#ffffff']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data123, options);
          }

        } else if (typeofReport.localeCompare("Gross") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartMonthGross);

          function drawChartMonthGross() {

            let foh = 0;
            let boh = 0;
            console.log("data1" + data2.result2[0]["dept"]);
            console.log("data1" + data2.result2[0]["net"]);
            console.log(data2.result2.length);

            // alert("datamonth"+data1["month"][0]);
            // alert("datamonth"+monthRange);
            for (let i = 0; i < data2.result2.length; i++) {

              if (data2.result2[i]["dept"] != null) {
                if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"].localeCompare(
                    "FOH") == 0 &&
                  data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {

                  foh = foh + parseInt(data2.result2[i]["gross"]);
                } else if (shopName.includes(data2.result2[i]["shop"]) == true && data2.result2[i]["dept"]
                  .localeCompare(
                    "BOH") == 0 && data2.result2[i]["year"].localeCompare(yearRange
                    .toString()) == 0 && data2.result2[i]["month"].localeCompare(monthRange) == 0) {
                  boh = boh + parseInt(data2.result2[i]["gross"]);
                }
              }

            }

            let laborCost = 0;
            for (let j = 0; j < data2.result1.length; j++) {
              if (data2.result1[j]["dept"].localeCompare(shopName) == 0) {
                laborCost = data2.result1[j]["total"];

              }
            }
            console.log("dataaaaa   " + foh);
            console.log("dataaaaa   " + boh);
            let totalSales = 0;
            if (shopName.includes("FOH")) {
              totalSales = foh;

            } else {
              totalSales = boh;
            }

            console.log("total Sales" + totalSales);
            if (totalSales == 0) {
              alert("Total Sales is zero!");
            }

            if (laborCost == 0) {
              alert("Labor cost is zero!");
            }

            var data123 = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Labor/Sales', laborCost],
              ['', totalSales - laborCost]
            ]);

            var options = {
              title: 'Labor Cost/Gross Sales Monthly for month ' + monthRange + " " + yearRange.toString() + " for " + shopName,
              colors: ['#e0440e', '#ffffff']
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(data123, options);
          }
        }

      }

    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>