<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>Sales by Departments</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    #piechart {
      display: block;
      margin: 0 auto;
    }
  </style>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>

<body style="text-align: center;">

  <h1>Sales by Departments</h1>
  <div id="piechart" style="width: 70%; height: 500px;"></div>

  <div id="shopOption">
    <label for="shopSelection">Choose a store:</label>
    <select name="shopSelection" id="shopSelection">

      <option value="polygon">Polygon</option>
      <option value="gastown">Gastown</option>
      <option value="gnw">GNW</option>
      <option value="store4">4</option>
      <option value="store5">5</option>

    </select>

  </div>
  <br>
  <label for="kindofRepo">Do you want to check yearly repo: </label>
  <select name="kindofRepo" id="kindofRepo" onchange="toggleFunction()">

    <option value='monthly'>Monthly</option>
    <option value='yearly'>Yearly</option>
    <option value='sofarAll'>So Far All Stores</option>
    <option value='sofar'>So Far</option>
  </select>
  <div id="monthlyOption">
    <label for="month">Choose a month: </label>
    <select name="month" id="month">

      <option value="1">January</option>
      <option value="2">February</option>
      <option value="3">March</option>
      <option value="4">April</option>
      <option value="5">May</option>
      <option value="6">June</option>
      <option value="7">July</option>
      <option value="8">August</option>
      <option value="9">September</option>
      <option value="10">October</option>
      <option value="11">November</option>
      <option value="12">December</option>
    </select>
  </div>

  <div id="yearlyOption">

    <label for="year">Choose a year: </label>
    <input type="number" id="year" placeholder="Type year here!">
  </div>
  <br>
  <div id="grossNetOption">
    <label for="gorn">I want to check: </label>
    <select name="gorn" id="gorn">

      <option value="net">Net</option>
      <option value="gross">Gross</option>

    </select>
  </div>

  <br>


  <button onclick="generateNewPieChart()">Submit</button>

  <script type="text/javascript">
    $(document).ready(function () {

      $.ajax({
        //create an ajax request
        type: "GET",
        url: "/readSalesData",
        dataType: "json", //expect json msg to be returned                
        success: function (data) {
          data1 = data;
          generateOverallGraphNet(data1);
        },
        error: function (request, status, error) {
          alert(request.responseText);
          console.log(error);
        }

      });

    });
  </script>



  <script>


    let kindofRepoElement = document.getElementById("kindofRepo");
    let kindofRepoElementText = kindofRepoElement.options[kindofRepoElement.selectedIndex].text;
    if (kindofRepoElementText.localeCompare("Yearly") == 0) {

      document.getElementById("monthlyOption").style.visibility = "hidden";
    } else {
      document.getElementById("monthlyOption").style.visibility = "visible";
    }

    // helper function to hide certain options when triggered
    function toggleFunction() {
      let kindofRepoElement = document.getElementById("kindofRepo");
      let kindofRepoElementText = kindofRepoElement.options[kindofRepoElement.selectedIndex].text;
      if (kindofRepoElementText.localeCompare("Yearly") == 0) {
        document.getElementById("monthlyOption").style.visibility = "hidden";
        document.getElementById("yearlyOption").style.visibility = "visible";
        document.getElementById("shopOption").style.visibility = "visible";
      } else if (kindofRepoElementText.localeCompare("Monthly") == 0) {
        document.getElementById("monthlyOption").style.visibility = "visible";
        document.getElementById("yearlyOption").style.visibility = "visible";
        document.getElementById("shopOption").style.visibility = "visible";
      } else if (kindofRepoElementText.localeCompare("So Far") == 0) {
        document.getElementById("monthlyOption").style.visibility = "hidden";
        document.getElementById("yearlyOption").style.visibility = "hidden";
        document.getElementById("shopOption").style.visibility = "visible";
      } else {
        document.getElementById("monthlyOption").style.visibility = "hidden";
        document.getElementById("yearlyOption").style.visibility = "hidden";
        document.getElementById("shopOption").style.visibility = "hidden";

      }
    }


    // generate new pie charts given criteria
    function generateNewPieChart() {

      let timeRange = document.getElementById("kindofRepo").options[document.getElementById("kindofRepo").selectedIndex]
        .text;
      // console.log(timeRange);
      let yearRange = document.getElementById("year").value;
      // console.log(yearRange);
      let monthRange = document.getElementById("month").selectedIndex + 1;
      // console.log(monthRange);
      let typeofReport = document.getElementById("gorn").options[document.getElementById("gorn").selectedIndex].text;
      // console.log(typeofReport);

      let shopName = document.getElementById("shopSelection").options[document.getElementById("shopSelection")
        .selectedIndex].text;

      if (timeRange.localeCompare("Yearly") == 0) {
        if (typeofReport.localeCompare("Net") == 0) {

          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartYearNet);

          function drawChartYearNet() {
            let foh = 0;
            let boh = 0;
          
            if (shopName != null) {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {

                    foh = foh + parseInt(data1["net"][i]);
                  } else if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {
                    boh = boh + parseInt(data1["net"][i]);
                  }
                }
              }
            } else {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {

                    foh = foh + parseInt(data1["net"][i]);
                  } else if (data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {
                    boh = boh + parseInt(data1["net"][i]);
                  }
                }
              }
            }

            var displayedData = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Front of the House', foh],
              ['Back of the House', boh]
            ]);

            var options = {
              title: 'Net Sales by FOH and BOH Yearly' + " " + yearRange.toString() + " in " + shopName
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(displayedData, options);
          }

        } else if (typeofReport.localeCompare("Gross") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartYearGross);

          function drawChartYearGross() {

            let foh = 0;
            let boh = 0;

            if (shopName != null) {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {

                    foh = foh + parseInt(data1["gross"][i]);
                  } else if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {
                    boh = boh + parseInt(data1["gross"][i]);
                  }
                }

              }
            } else {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {

                    foh = foh + parseInt(data1["gross"][i]);
                  } else if (data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0) {
                    boh = boh + parseInt(data1["gross"][i]);
                  }
                }

              }
            }

            var displayedData = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Front of the House', foh],
              ['Back of the House', boh]
            ]);

            var options = {
              title: 'Gross Sales by FOH and BOH Yearly' + " " + yearRange.toString() + " in " + shopName
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(displayedData, options);
          }
        }

      } else if (timeRange.localeCompare("Monthly") == 0) {
        if (typeofReport.localeCompare("Net") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartMonthNet);

          function drawChartMonthNet() {

            let foh = 0;
            let boh = 0;
            if (shopName != null) {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {

                    foh = foh + parseInt(data1["net"][i]);
                  } else if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {
                    boh = boh + parseInt(data1["net"][i]);
                  }
                }

              }
            } else {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["division"][i].localeCompare("FOH") == 0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {

                    foh = foh + parseInt(data1["net"][i]);
                  } else if (data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {
                    boh = boh + parseInt(data1["net"][i]);
                  }
                }

              }
            }


            var displayedData = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Front of the House', foh],
              ['Back of the House', boh]
            ]);

            var options = {
              title: 'Net Sales by FOH and BOH Yearly' + " " + yearRange.toString() + " in " + shopName
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(displayedData, options);
          }

        } else if (typeofReport.localeCompare("Gross") == 0) {
          google.charts.load('current', {
            'packages': ['corechart']
          });

          google.charts.setOnLoadCallback(drawChartMonthGross);

          function drawChartMonthGross() {

            let foh = 0;
            let boh = 0;
            if (shopName != null) {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {

                    foh = foh + parseInt(data1["gross"][i]);
                  } else if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {
                    boh = boh + parseInt(data1["gross"][i]);
                  }
                }

              }
            } else {
              for (let i = 0; i < data1["category"].length; i++) {

                if (data1["division"][i] != null) {
                  if (data1["division"][i].localeCompare("FOH") ==
                    0 &&
                    data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {

                    foh = foh + parseInt(data1["gross"][i]);
                  } else if (data1["division"][i].localeCompare(
                      "BOH") == 0 && data1["year"][i].localeCompare(yearRange
                      .toString()) == 0 && data1["month"][i].localeCompare(monthRange) == 0) {
                    boh = boh + parseInt(data1["gross"][i]);
                  }
                }

              }
            }



            var displayedData = google.visualization.arrayToDataTable([
              ['Division', 'Sales'],
              ['Front of the House', foh],
              ['Back of the House', boh]
            ]);

            var options = {
              title: 'Gross Sales by FOH and BOH Yearly' + " " + yearRange.toString() + " in " + shopName
            };

            var chart = new google.visualization.PieChart(document.getElementById('piechart'));

            chart.draw(displayedData, options);
          }
        }

      } else if (timeRange.localeCompare("So Far") == 0) {

      } else {
        if (typeofReport.localeCompare("Net") == 0) {
          generateOverallGraphNet(data1);
        } else {
          generateOverallGraphGross(data1);
        }
      }

    }
  </script>
  <script>
    // generate overall display for all stores in net
    function generateOverallGraphNet(data1) {

      google.charts.load('current', {
        'packages': ['corechart']
      });

      google.charts.setOnLoadCallback(drawChartYearGross);

      function drawChartYearGross() {

        let foh = 0;
        let boh = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null) {
            if (data1["division"][i].localeCompare("FOH") == 0) {

              foh = foh + parseInt(data1["net"][i]);
            } else {
              boh = boh + parseInt(data1["net"][i]);
            }
          }

        }

        var dataDisplayed = google.visualization.arrayToDataTable([
          ['Division', 'Sales'],
          ['Front of the House', foh],
          ['Back of the House', boh]
        ]);

        var options = {
          title: 'Net Sales by FOH and BOH So Far'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataDisplayed, options);
      }
    }


    //helper function getting overall graph in gross
    function generateOverallGraphGross(data1) {

      google.charts.load('current', {
        'packages': ['corechart']
      });

      google.charts.setOnLoadCallback(drawChartYearGross);

      function drawChartYearGross() {

        let foh = 0;
        let boh = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null) {
            if (data1["division"][i].localeCompare("FOH") == 0) {

              foh = foh + parseInt(data1["gross"][i]);
            } else {
              boh = boh + parseInt(data1["gross"][i]);
            }
          }
        }

        var dataDisplayed = google.visualization.arrayToDataTable([
          ['Division', 'Sales'],
          ['Front of the House', foh],
          ['Back of the House', boh]
        ]);

        var options = {
          title: 'Gross Sales by FOH and BOH So Far'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataDisplayed, options);
      }
    }

    // overall net report if a particular store is selected
    function generateOverallGraphNetPerStore(data1) {

      google.charts.load('current', {
        'packages': ['corechart']
      });

      google.charts.setOnLoadCallback(drawChartYearGross);

      function drawChartYearGross() {

        let foh = 0;
        let boh = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null) {
            if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") == 0) {

              foh = foh + parseInt(data1["net"][i]);
            } else {
              boh = boh + parseInt(data1["net"][i]);
            }
          }
        }

        var dataDisplayed = google.visualization.arrayToDataTable([
          ['Division', 'Sales'],
          ['Front of the House', foh],
          ['Back of the House', boh]
        ]);

        var options = {
          title: 'Net Sales by FOH and BOH So Far at ' + shopName
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataDisplayed, options);
      }
    }

    // overall gross report if a particular store is selected
    function generateOverallGraphGrossPerStore(data1) {

      google.charts.load('current', {
        'packages': ['corechart']
      });

      google.charts.setOnLoadCallback(drawChartYearGross);

      function drawChartYearGross() {

        let foh = 0;
        let boh = 0;

        for (let i = 0; i < data1["category"].length; i++) {

          if (data1["division"][i] != null) {
            if (data1["store"][i].localeCompare(shopName) == 0 && data1["division"][i].localeCompare("FOH") == 0) {

              foh = foh + parseInt(data1["gross"][i]);
            } else {
              boh = boh + parseInt(data1["gross"][i]);
            }
          }
        }

        var dataDisplayed = google.visualization.arrayToDataTable([
          ['Division', 'Sales'],
          ['Front of the House', foh],
          ['Back of the House', boh]
        ]);

        var options = {
          title: 'Gross Sales by FOH and BOH So Far at ' + shopName
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(dataDisplayed, options);
      }
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</body>

</html>